.table {
    width: 100%;
    border-spacing: 6px;
    td {
        border: 1px solid rgb(167, 167, 167);
        padding: 10px;
        cursor: pointer;
        background: #fff;
    }
    & .name {
        font-weight: 600;
    }

    & .subtitle {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 21px;
        padding: 10px;
        border: 1px solid rgb(167, 167, 167);
        border-radius: 13px;
        background: rgb(250, 175, 175);
    }
}
