.table {
    width: 100%;
    border: 1px solid #000;
    border-spacing: 0;
    td {
        border: 1px solid #000;
        padding: 10px;
        cursor: pointer;
    }
    & .name {
        font-weight: 600;
    }
}
