.wrapper {
  width: 600px;
  margin: 0 auto;
  .rang {
    text-align: center;
    .rangTitle {
      display: inline-block;
      width: 200px;
      .rangNumber {
        width: 100%;
        margin-top: 40px;
        text-align: center;
        border-width: 0;
        font-size: 50px;
        font-weight: 900;
        background-color: #fff;
        color: #0093d7;
      }
    }
    .meter {
      display: block;
      width: 273px;
      height: 155px;
      margin: 0 auto;
      .meterLeft {
        transform: skewX(-2deg) skewY(1deg);
        stroke-width: 58;
        stroke-dashoffset: 253;
        stroke-dasharray: 120 400;
        stroke: #ffc815;
        fill: none;
      }

      .meterCenter {
        stroke-width: 56;
        stroke-dashoffset: 128;
        stroke-dasharray: 120 400;
        stroke: #a3cd3b;
        fill: none;
      }
      .meterRight {
        transform: skewX(2deg) skewY(1deg);
        stroke-width: 58;
        stroke-dashoffset: 5;
        stroke-dasharray: 120 400;
        stroke: #0093d7;
        fill: none;
      }
      .meterClock {
        transform-origin: 137px 146px;
        fill: black;
      }
      .meterCircle {
        fill: black;
      }
    }
  }
}