@import "base.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $pageBgColor;
}

.app {
  width: 100%;
  margin : 0 auto;
  text-align: center;

}

.content {
  width : 80%;
  margin : 0 auto;
  color : $textColor;
}